/*
*{
    border: 1px solid red;
}
*/

/* Shared Classes */

.v-flex {
    display: flex;
    flex-direction: column;
}

.h-flex{
    display: flex;
}

.h-flex.ac{
    align-items: center;
}

.dark-bg{
    background-color: #1f2937;
}

img.flex{
    max-width: 100%;
    max-height: 100%;
}

/* Main Structure*/

body{
    height: 100vh;
    margin: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.hero{
    color: #f9faf8;
    padding: 0 10vw;
}

/* Hero Specific */

.header{
    justify-content: space-between;
    height: 10vh;
    max-height: 7vw;
}

.right-header, .left-header{
    height: 100%;
    
}

.left-header{
    font-size: 1.25vw /*24px*/;
}

.hero-content, a.header-link, a.hero-button{
    font-size: .95vw /*18px*/;
    color: #e5e7eb;
}

a.header-link{
    text-decoration: none;
    padding-left: 1vw;
}

.hero-main{
    padding: 10vh 0;
}

.hero-text{
    padding-right: 2vw;
    flex: 1;
}

.hero-title{
    font-size: 2.5vw /*48px*/;
    font-weight: bolder;
}

.hero-content{
    padding: 2vh 0;
    flex: 1;
}

a.hero-button{
    border-radius: .5vw;
    width: fit-content;
    padding: 1vh 1vw;
    background-color: #3882f6;
    text-align: center;
    text-decoration: none;
}

.hero-img{
    flex: 1;
}

