/* Shared Classes */

.v-flex {
    display: flex;
    flex-direction: column;
}

.h-flex{
    display: flex;
}

.v-flex.ac, .h-flex.ac{
    align-items: center;
}

.dark-bg{
    background-color: #1f2937;
}

img.flex{
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

a.no-dec{
    text-decoration: none;
}

ul.no-dec{
    list-style: none;
}

a.button{
    border-radius: .5vw;
    width: fit-content;
    padding: 1vh 1vw;
    text-align: center;
}

/* Main Structure*/

body{
    height: 100vh;
    margin: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.hero{
    color: #f9faf8;
    padding: 0 10vw;
}

.body{
    background-color: white;
    color: #1f2937;
}

.footer{
    text-align: center;
    color: #f9faf8;
    font-size: .95vw /*18px*/;
    padding: 1vw 0;
}

/* Hero Specific */

.header{
    justify-content: space-between;
    height: 10vh;
    max-height: 7vw;
}

.right-header, .left-header{
    height: 100%;
    
}

.left-header{
    font-size: 1.25vw /*24px*/;
}

.hero-content, a.header-link, a.hero-button{
    font-size: .95vw /*18px*/;
    color: #e5e7eb;
}

a.header-link{
    padding-left: 1vw;
}

.hero-main{
    padding: 10vh 0;
}

.hero-text{
    padding-right: 2vw;
    flex: 1;
}

.hero-title{
    font-size: 2.5vw /*48px*/;
    font-weight:800;
}

.hero-content{
    padding: 2vh 0;
    flex: 1;
}

a.button.hero{
    background-color: #3882f6;
}

.hero-img{
    flex: 1;
}

/* Body Specific */

.title{
    font-size: 2vw /*36px*/;
    font-weight: 800;
    margin: 2vw;
}

.services{
    margin: 5vw 20vw;
    margin-top: 0;
}

a.service{
    margin: 1vw;
    width: 10vw;
    text-align: center;
    color: #1f2937;
    font-size: .95vw /*18px*/;
}

img.service{
    border: .25vw solid #3882f6;
    border-radius: .5vw;
    margin-bottom: .25vw;
}

.con.quote{
    padding: 5vw 25vw;
    background-color: #e5e7eb;
}

.quote.txt{
    font-size: 2vw /*36px*/;
    font-weight: 100;c
    font-style: italic;
}

.quote.person{
    text-align: right;
    font-size: 1.25vw /*24px*/;
    margin-top: .5vw;
    margin-right: .5vw;
    font-weight: 800;
}

.con.call{
    width: max-content;
    border-radius: .5vw;
    background-color: #3882f6;
    padding: 2vw 5vw;
    margin: 5vw auto;
    width: 66vw;
    justify-content: space-between;
}

.call.txt{
    color: #f9faf8;
    font-size: .95vw /*18px*/;
}

.call.txt.big{
    font-size: 1.25vw /*24px*/;
    font-weight: 800;
}

.call.button{
    border: .10vw solid #f9faf8;
    color: #f9faf8;
    font-size: .95vw /*18px*/;
    font-weight: 800;

}

/* Footer Specific */

a.footer{
    color: #f9faf8;
}